@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to SpauldingRidge</h1>
    <p class="lead">Your one-stop solution for sales forecasting and analysis.</p>
    <hr class="my-4">
    <p>Click the icon below to access the sales forecasting tool.</p>
    <a class="btn btn-primary btn-lg" href="/Sales" role="button">
        <i class="fas fa-chart-line fa-3x"></i>
        <br />
        Sales Forecasting
    </a>
</div>
